@keyframes feed-in {
    0% {
        bottom: 100px;
        opacity: 0;
    }
    20% {
        bottom: 200px;
        opacity: 1;
    }
    80% {
        bottom: 200px;
        opacity: 1;
    }
    100% {
        bottom: 100px;
        opacity: 0;
    }
}